# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Generated Dart code
*.generated.dart
*.freezed.dart
*.json.dart
*.g.dart

# l10n
lib/l10n/generated/

# flutter_rust_bridge
frb_generated.*
lib/src/**/*.dart

# Output
dist/

# mdBook output
index.html

# AppDir/AppImage/Flatpak
AppDir/
.flatpak-builder/

# FVM Version Cache
.fvm/

# Fastlane
.bundle
vendor/
.env
fastlane/report.xml
