name: momento_booth
description: Opensource photobooth application

publish_to: "none"
version: 0.15.7+120

environment:
  sdk: ^3.11.0

dependencies:
  flutter: { sdk: flutter }

  # i18n
  flutter_localizations: { sdk: flutter }
  intl: any

  # UI
  animations: 2.1.1
  auto_size_text: 3.0.0
  fluent_ui: 4.13.0
  go_router: 17.1.0
  flutter_svg: 2.2.3
  animated_text_kit: 4.3.0
  flutter_scroll_shadow: 1.2.6
  flutter_layout_grid: 2.0.8
  pretty_qr_code: 3.6.0
  provider: 6.1.5+1
  confetti: 0.8.0
  wave: 0.2.2
  texture_rgba_renderer: { git: https://github.com/momentobooth/flutter_texture_rgba_renderer }
  lottie: 3.3.2
  smooth_scroll_multiplatform: 1.0.8
  widgetbook: 3.21.0
  widgetbook_annotation: 3.10.0
  lucide_icons_flutter: 3.1.9
  wizard_router: 1.4.1
  theme_tailor_annotation: 3.1.2
  google_fonts: 8.0.1
  twinkling_stars: 1.0.3

  # Printscreen/Image processing
  screenshot: 3.0.0

  # MVC
  mobx: 2.6.0
  flutter_mobx: 2.3.0

  # Models
  freezed_annotation: 3.1.0
  json_annotation: 4.10.0

  # Rust library/Interop
  rust_lib_momento_booth: { path: rust_builder }
  ffi: 2.2.0
  flutter_rust_bridge: 2.11.1

  # Printing
  printing: 5.14.2
  pdf: 3.11.3

  # System
  path_provider: 2.1.5
  path: ^1.9.0
  window_manager: 0.5.1
  file_selector: 1.1.0
  win32: 5.15.0

  # Log and error handling
  talker: 5.1.13
  talker_flutter: 5.1.13
  sentry_flutter: 9.13.0
  stack_trace: 1.12.1

  # Storage
  flutter_secure_storage: 10.0.0
  toml: 0.16.0

  # Networking
  http: 1.6.0
  http_parser: 4.1.2
  mqtt5_client: 4.15.3

  # Misc
  get_it: 9.2.0
  meta: any
  synchronized: 3.4.0
  collection: any
  dart_casing: 3.0.1
  package_info_plus: 9.0.0
  lemberfpsmonitor: 0.0.3+6
  crypto: 3.0.7
  draggable_scrollbar:
    git: https://github.com/momentobooth/flutter-draggable-scrollbar
  csslib: 1.0.2
  args: 2.7.0
  url_launcher: 6.3.2
  super_clipboard: 0.9.1
  super_drag_and_drop: 0.9.1
  wakelock_plus: 1.4.0
  change_case: 2.2.0

dev_dependencies:
  # UI
  widgetbook_generator: 3.21.0
  theme_tailor: 3.1.2

  # MVC
  mobx_codegen: 2.7.6

  # Code quality
  flutter_lints: 6.0.0

  # Models
  freezed: 3.2.5
  json_serializable: 6.12.0

  # Code generation
  build_runner: 2.11.1

flutter:
  uses-material-design: true

  assets:
    - assets/animations/
    - assets/bitmap/
    - assets/svg/
    - assets/svg/flags/
    - assets/fonts/brandon_grotesque/
    - assets/scripts/
    - assets/sounds/

  fonts:
    - family: Brandon Grotesque
      fonts:
        - asset: assets/fonts/brandon_grotesque/Brandon_light.otf
          weight: 300

  generate: true
