name: Deploy docs to GitHub Pages

env:
  MDBOOK_VERSION: "0.4.37"
  BOOK_LOCATION: "documentation"

on:
  push:
    branches: [ main ]
    paths: [ documentation/**, .github/workflows/deploy-documentation.yml, README.md ]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  actions: read
  contents: read
  pages: write
  id-token: write

concurrency:
  group: deploy-documentation
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 20

    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"

    name: Build

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install mdbook
        run: |
          url="https://github.com/rust-lang/mdbook/releases/download/v${{ env.MDBOOK_VERSION }}/mdbook-v${{ env.MDBOOK_VERSION }}-x86_64-unknown-linux-gnu.tar.gz"
          mkdir bin
          curl -sSL $url | tar -xz --directory=bin
          echo "$(pwd)/bin" >> $GITHUB_PATH

      - name: Install minimal Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Setup sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.8

      - name: Install mermaid preprocessor for mdBook
        uses: baptiste0928/cargo-install@v3
        with:
          crate: mdbook-mermaid

      - name: Install admonish preprocessor for mdBook
        uses: baptiste0928/cargo-install@v3
        with:
          crate: mdbook-admonish

      - name: Build static site
        run: mdbook build ${{ env.BOOK_LOCATION }} --dest-dir ../_site

      - name: Fix permissions
        run: |
          chmod -c -R +rX "_site/" | while read line; do
            echo "::warning title=Invalid file permissions automatically fixed::$line"
          done

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3

  deploy:
    name: Deploy

    needs: build

    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
