name: PR CI Documentation

env:
  MDBOOK_VERSION: "0.4.37"
  BOOK_LOCATION: "documentation"

on:
  pull_request:
    branches: [ main ]
    paths: [ documentation/**, .github/workflows/pr-ci-documentation.yml, README.md ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install mdbook
        run: |
          url="https://github.com/rust-lang/mdbook/releases/download/v${{ env.MDBOOK_VERSION }}/mdbook-v${{ env.MDBOOK_VERSION }}-x86_64-unknown-linux-gnu.tar.gz"
          mkdir bin
          curl -sSL $url | tar -xz --directory=bin
          echo "$(pwd)/bin" >> $GITHUB_PATH

      - name: Install minimal Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Setup sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.4

      - name: Install mermaid preprocessor for mdBook
        uses: baptiste0928/cargo-install@v3
        with:
          crate: mdbook-mermaid

      - name: Install admonish preprocessor for mdBook
        uses: baptiste0928/cargo-install@v3
        with:
          crate: mdbook-admonish

      - name: Build static site
        run: mdbook build ${{ env.BOOK_LOCATION }} --dest-dir ../_site
