name: Release - Windows x64

on:
  pull_request:
    branches: [ main ]
    types: [ closed ]

# Sets permissions to allow version tag
permissions:
  contents: write

jobs:
  build:
    if: ${{ github.event.pull_request.merged == true && startsWith(github.event.pull_request.head.ref, 'release/') }}

    runs-on: windows-2025-vs2026
    timeout-minutes: 45

    env:
      CARGO_INCREMENTAL: 0
      CARGO_PROFILE_RELEASE_LTO: true
      CARGO_PROFILE_RELEASE_CODEGEN_UNITS: 1
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: 'true'

    - name: Setup D drive for builds and caches
      run: |
        Write-Output "DEV_DRIVE=D:" >> $env:GITHUB_ENV
        Write-Output "CARGO_HOME=D:\.cargo" >> $env:GITHUB_ENV
        Write-Output "RUSTUP_HOME=D:\.rustup" >> $env:GITHUB_ENV
        Write-Output "SCCACHE_DIR=D:\.sccache-cache" >> $env:GITHUB_ENV

    - name: Configure Cargo linker for MSVC
      shell: pwsh
      run: |
        $cargoHome = $env:CARGO_HOME
        if (-not $cargoHome) {
          $cargoHome = "$env:USERPROFILE\.cargo"
        }
        $configFile = Join-Path $cargoHome "config.toml"
        if (-not (Test-Path $cargoHome)) {
          New-Item -ItemType Directory -Path $cargoHome | Out-Null
        }
        # Append of create config.toml
        Add-Content -Path $configFile -Value '[target.x86_64-pc-windows-msvc]'
        Add-Content -Path $configFile -Value 'linker = "lld-link.exe"'

    - name: Copy Git Repo to Dev Drive
      run: |
        Copy-Item -Path "${{ github.workspace }}" -Destination "${{ env.DEV_DRIVE }}/momentobooth" -Recurse

    - name: Detect Flutter Version
      uses: kuhnroyal/flutter-fvm-config-action@v3

    - name: Setup Flutter
      uses: flutter-actions/setup-flutter@v4
      with:
        channel: stable
        version: ${{ env.FLUTTER_VERSION }}
        cache: true
        cache-sdk: true

    - name: Disable Flutter analytics and CLI animations
      run: flutter config --no-analytics --no-cli-animations

    - name: Flutter SDK precache
      run: flutter precache --windows

    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
        msystem: clang64
        path-type: inherit
        pacboy: pkgconf:c curl-winssl:c nghttp2:c nghttp3:c libusb:c gcc:c libgphoto2:c
        install: git patch
        location: '${{ env.DEV_DRIVE }}/msys2'

    - name: Fix environment for build and bundle
      run: |
        Add-Content $env:GITHUB_PATH (msys2 -c 'cygpath -w /clang64/bin')
        echo "MINGW_BUNDLEDLLS_SEARCH_PATH=$(msys2 -c 'cygpath -w /clang64/bin')" >> $env:GITHUB_ENV
        echo "CLANG64_LIB_PATH=$(msys2 -c 'cygpath -w /clang64/lib')" >> $env:GITHUB_ENV

    - name: Install minimal Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: stable
        target: x86_64-pc-windows-msvc

    - name: Setup Rust compiled code cache
      uses: Swatinem/rust-cache@v2
      with:
        workspaces: |
          ${{ env.DEV_DRIVE }}/momentobooth/rust -> ../build/windows/x64/plugins/rust_lib_momento_booth/cargokit_build
          ${{ env.DEV_DRIVE }}/momentobooth/rust -> target

    - name: Setup sccache
      uses: mozilla-actions/sccache-action@v0.0.9

    - name: Setup sccache workaround
      run: Add-Content -Path $env:GITHUB_ENV -Value "SCCACHE_GHA_ENABLED=true"

    - name: Install cargo-binstall
      uses: cargo-bins/cargo-binstall@main

    - name: Install cargo-expand
      run: cargo binstall cargo-expand --force

    - name: Install flutter_rust_bridge_codegen
      run: cargo binstall flutter_rust_bridge_codegen@2.11.1 --force

    - name: Install h3xUpdtr
      run: cargo binstall h3xup --force

    - name: Install dependencies
      working-directory: ${{ env.DEV_DRIVE }}/momentobooth
      run: flutter pub get --enforce-lockfile

    - name: Generate localizations
      working-directory: ${{ env.DEV_DRIVE }}/momentobooth
      run: flutter gen-l10n

    - name: Generate Dart/Rust bridging code
      working-directory: ${{ env.DEV_DRIVE }}/momentobooth
      run: flutter_rust_bridge_codegen generate

    - name: Run build_runner
      working-directory: ${{ env.DEV_DRIVE }}/momentobooth
      run: dart run build_runner build

    - name: Flutter analyze
      working-directory: ${{ env.DEV_DRIVE }}/momentobooth
      run: flutter analyze

    - name: Extract release version
      id: extract_release_version
      shell: bash
      run: |
        release_version=$(echo ${{ github.event.pull_request.head.ref }} | cut -d/ -f2)
        friendly_version="${release_version%%-*}"
        build_number="${release_version#*-}"
        echo "release_version=$release_version" >> $GITHUB_OUTPUT
        echo "friendly_version=$friendly_version" >> $GITHUB_OUTPUT
        echo "distributor_version=${release_version/-/+}" >> $GITHUB_OUTPUT
        echo "build_number=$build_number" >> $GITHUB_OUTPUT

    - name: Build project
      working-directory: ${{ env.DEV_DRIVE }}/momentobooth
      run: flutter build windows -v --no-pub --release --dart-define SENTRY_DSN=${{ secrets.SENTRY_DSN }} --dart-define SENTRY_ENVIRONMENT=Production --dart-define SENTRY_RELEASE=${{ steps.extract_release_version.outputs.distributor_version }} --dart-define IOLIBS=libgphoto2_iolibs --dart-define CAMLIBS=libgphoto2_camlibs --dart-define LIBGPHOTO2_GIT_REV=${{ env.LIBGPHOTO2_GIT_REV }}

    - name: Bundle dependencies
      working-directory: ${{ env.DEV_DRIVE }}/momentobooth
      shell: pwsh
      run: |
        .\windows\bundle_libs.ps1
        $file = Join-Path $env:DEV_DRIVE 'momentobooth\build\windows\x64\runner\Release\libgphoto2-6.dll'
        if (-not (Test-Path $file)) {
          Write-Error "Missing file: $file"
          exit 1
        }
        Write-Output "Found: $file"

    - name: Create h3xup version
      env:
        AWS_BUCKET_NAME: ${{ vars.AWS_BUCKET_NAME }}
        AWS_ENDPOINT: ${{ vars.AWS_ENDPOINT }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: h3xup create "release,${{ steps.extract_release_version.outputs.friendly_version }},${{ steps.extract_release_version.outputs.build_number }}" -i ${{ env.DEV_DRIVE }}/momentobooth/build/windows/x64/runner/Release -p Photobooth-Win-x64

    - name: Compile Inno Setup installer
      shell: pwsh
      run: |
        choco install innosetup -y
        &"${Env:ProgramFiles(x86)}/Inno Setup 6/iscc.exe" "${{ env.DEV_DRIVE }}/momentobooth/windows/installer/installer.iss"
        mv "${{ env.DEV_DRIVE }}/momentobooth/windows/installer/installer.exe" "${{ env.DEV_DRIVE }}/momentobooth/windows/installer/MomentoBooth-${{ steps.extract_release_version.outputs.release_version }}-Win-x64-Setup.exe"

    - name: Archive release
      uses: thedoctor0/zip-release@0.7.6
      with:
        type: zip
        directory: ${{ env.DEV_DRIVE }}/momentobooth/build/windows/x64/runner/Release
        filename: 'MomentoBooth-${{ steps.extract_release_version.outputs.release_version }}-Win-x64.zip'
        custom: -mx9

    - name: Create GitHub release
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: true
        prerelease: true
        replacesArtifacts: true
        tag: ${{ steps.extract_release_version.outputs.release_version }}
        artifacts: "${{ env.DEV_DRIVE }}/momentobooth/build/windows/x64/runner/Release/MomentoBooth-${{ steps.extract_release_version.outputs.release_version }}-Win-x64.zip,${{ env.DEV_DRIVE }}/momentobooth/windows/installer/MomentoBooth-${{ steps.extract_release_version.outputs.release_version }}-Win-x64-Setup.exe"
        body: |
          For Windows users: MomentoBooth needs the [Visual C++ Redistributable runtime libraries](https://learn.microsoft.com/en-us/cpp/windows/latest-supported-vc-redist?view=msvc-170). The setup version will install these automatically. When using the zip, install them manually.
